html{
  font-family: 'Open Sans', sans-serif !important;
}

body{
  font-size: 15px;
  line-height: 1.64;
}

.jumbotron{
  background: no-repeat center right fixed url(../images/mountains.png);
  background-size: cover;
  margin: 0;
}

.jumbotron h1{
  font-size: 63px;
}

.jumbotron .container{
  position: relative;
  top: 40%;
  text-align: center;
}

.jumbotron .container > * {
  text-align: center;
  color: #F3EFE0;
}

.jumbotron .container p{
  font-size: 28px;
  margin: 0;
}

.navbar {
  position: relative;
  display: flex;
  padding: 0;
}

.lead{
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.4;
}

.container{
  max-width: 1280px;
  padding: 40px 180px;
}

.text-center{
  text-align: center;
}

h2{
  font-size: 54px;
  text-align: center;
  color: #781C68;
}

h3{
  font-size: 28px;
  font-weight: 300;
  color: #781C68;
  margin-bottom: 20px;
  line-height: 1.1;
  text-align: center;
}

p.lead{
  font-size: 25px;
  text-align: center;
  color: #727878;
}

p{
  margin: 0 0 10px;
}

hr{
  margin: 40px 0px;
  border-color: #727878;
  opacity: 0.2;
  height: 0;
}

.middle-container{
  background-color: #F2EBE9;
}

#profile .row > div {
  margin-bottom: 20px;
}

.col-md-4{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.social-icon{
  color: #243A73;
}

#skills{
  max-width: 60%;
  padding: 40px 180px;
}

.col-md-6{
  max-width: 50%;
  padding-left: 10%;
}

.skill-row{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2%;
}

.contact-me{
  text-align: center;
}

.bottom-container{
  background-color: #8879B0;
  padding: 50px 0 20px;
}

.bottom-container{
  text-align: center;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

a{
  color: #F2EBE9;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 10px;
  text-decoration: none;
}
a:hover{
  color: #A5BECC;
}

#copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #A5BECC;
  background-image: -webkit-linear-gradient(top, #A5BECC, #243A73);
  background-image: -moz-linear-gradient(top, #A5BECC, #243A73);
  background-image: -ms-linear-gradient(top, #A5BECC, #243A73);
  background-image: -o-linear-gradient(top, #A5BECC, #243A73);
  background-image: linear-gradient(to bottom, #A5BECC, #243A73);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #C8B6E2;
  background-image: -webkit-linear-gradient(top, #C8B6E2, #495C83);
  background-image: -moz-linear-gradient(top, #C8B6E2, #495C83);
  background-image: -ms-linear-gradient(top, #C8B6E2, #495C83);
  background-image: -o-linear-gradient(top, #C8B6E2, #495C83);
  background-image: linear-gradient(to bottom, #C8B6E2, #495C83);
  text-decoration: none;
}
li {
    text-align: -webkit-match-parent;
}
ul.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.tri-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
